@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Roboto&display=swap');

nav{
    display: flex;
    justify-content: space-around;
}


body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #7bbed0;
  margin: 0;
  padding: 0;
}
h2{
    margin: 0;
}
.home-title{
  font-family: 'Alegreya', serif;
  font-size: 2em;
  color: #2a5677;
  margin-top: 10px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:#2a5677;
    text-decoration: none;
    padding: 35px;    
}
#hero-msg h1{
    text-align: center;
    color: #7bbed0;
}
#hero-msg h4{
    text-align: center;
    color: white;    
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #2a5677;
    grid-column: 1/11;
    grid-row: 4/9;    
}
header{
    background-color: #fce172;
    display: grid;
    grid-template-columns: 150px auto;
    
}
nav a:hover{
    color:black
}
.book, .join{    
    background-color: #fce172;
    color: #2a5677;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #d4d8d6;
}
.msg{
   background-color: #fce172;
   line-height: 1.5em;
   padding: 35px; 
   grid-column: 6/10;
   grid-row: 6/7;
   box-shadow: 5px 5px 10px #6f7364;
}
footer{
    background-color: #fce172;
    color: #2a5677;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h4{
    color: #2a5677;
}
.msg h2{
    color: #2a5677;
}
.msg p{
    color: #2a5677;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: #2a5677;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color:black
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer .social img{
    padding-top: 15px;    
}
.rivers-card,
.camping-card,
.rapids-card{
    margin: 200px 0;    
}
.card-img{
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);    
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}


form {
    /* Center the form on the page */
    margin: 200px auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0px;
  }
  
  form li + li {
    margin-top: 3em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
     
    
    
}
.rivers-title{
    text-align: center;
}
.container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding: 25px 0px 0px 0px;
    margin: 0 auto;
    max-width: 1450px;
    min-width: 964px;


}
.box_1{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
.img_1{
    width: 40%;
    height: 350px; 
    margin: auto;
    background-image: url("../images/main-fork.jpg");
    background-repeat: no-repeat;
    background-size: contain;


}
.text_1{
    width: 90%;
    justify-self: center;


}
.box_2{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 50px;

}
.text_2{
    width: 90%;
    justify-self: center;
    
    



}
.img_2{
    width: 40%;
    height: 350px; 
    margin: 50px auto 0 auto;
    background-image: url("../images/desolation-grandcanyon.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}
.img_3{
    width: 90%;
    background-image: url("../images/grand-canyon-arizona.jpg");
    height: 300px;
    margin: 70px auto ;
    background-repeat: no-repeat;
    background-size: cover;


}
.text_3{
    width: 80%;
    margin: auto;
    padding: 20px;

}
.box_3{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;

}

#content_2{
    max-width: 1600px;
    margin: 0 auto;
}
