@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

nav{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

body {
    font-family: 'Roboto', Normal, sans-serif;
    background-color: #c8b5ee;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

.home-title{
    font-family: 'Montserrat', serif;
    font-size: 2em;    
    margin-top: 10px;
    line-height: 1.2;
}


#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color:#c8b5ee;
    text-decoration: none;
    padding: 35px;    
}

#hero-msg h1{
    text-align: center;
    color: #ffffff;
}
#hero-msg p{
    text-align: center;
    color: #c8b5ee;  
    font-size: 20px; 
    padding-bottom: 20px; 
}

.button-box{
    text-align: center;
}
main section{
    text-align: center;
    box-sizing: border-box;
}
#background{
    height: 500px;
    background-color: #433068;
    grid-column: 1/11;
    grid-row: 4/9;
    margin-top: 150px;   
    
}
header{
    background-color: #433068;
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 100px;
    
}
.description{
    grid-column: 2/10;
    grid-row: 5/10;
    font-size: 20px;
    margin-top: 40px;    
}
.description h1{
    font-family: 'Montserrat', serif;
    color: #ffffff;
}
.description p{
    color: #c8b5ee;
}


nav a:hover{
    color:rgb(255, 255, 255);
    background-color: #000000;
    
}



.portfolio-button {    
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.portfolio-button:hover{
    background-color: #c8b5ee;
    color: #000000;
    
}

#hero-msg{
    background-color: #433068;
    line-height: 1.5em;
    padding: 35px; 
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
   
 }
 footer{
    background-color: #433068;
    color: #c8b5ee;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a{
    color: #c8b5ee;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color:#ffffff;
    
}

.logo{
    width: 90px;
}

#hero-img{
    width: 400px;
    max-width: 500px;
    margin-right: 50px;
    margin-bottom: 150px;   
}
footer p{
    font-size: 1.2em;
}

.social img{
    padding-top: 15px;  
    width: 60px;
    margin-bottom: 15px;  
}

.html-card,
.css-card,
.git-card,
.github-card,
.figma-card{
    margin: 50px 0;      
}

.html-img,
.css-img,
.git-img,
.github-img,
.figma-img{
    border: 1px solid rgb(255, 255, 255);     
    transition: transform .5s;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    width: 150px;
    padding: 8px;
    
    
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    padding-right: 150px;
}

#hero-box{
    grid-column: 3/4;
    grid-row: 1/3;
    z-index: -1;
    margin-top: 150px; 
    
    
} 
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);        
}

.html-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.css-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.git-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.github-card{
    grid-column: 7/8;
    grid-row: 3/4;
}
.figma-card{
    grid-column: 4/4;
    grid-row: 3/4;
}
.html-img:hover,
.css-img:hover,
.git-img:hover,
.github-img:hover,
.figma-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

#nft-box{
    margin: 100px;   

}

#product-box{
    margin: 100px;
}
.nft-title, .product-title, .results-title {
    margin: 50px;
}

/*modal------------ */
/* Style the Image Used to Trigger the Modal */



#nft-img, #product-img, #results-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#nft-img:hover, #product-img:hover, #results-img:hover  {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption, #productCaption, #resultsCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption, #productCaption, #resultsCaption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close, .close-product, .close-results {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus,
  .close-product:hover,
  .close-product:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .close-results:hover,
  .close-results:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


 .contactme-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
  }
  
  #contact-hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);      
    grid-column: 1/4;    
    align-items: center;
    justify-content: center;
    background-color: #433068;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  #contact-hero-box {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #433068;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    
  }
  
  #contact-hero-img {
    max-width: 100%;
    height: auto;
  }
  
  #contact-hero-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    color: #ffffff;

  }
  
  .contact-title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .message-button {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
  }
  
  .message-button:hover {
    background-color: #c8b5ee;
    color: #000000;
  }
  
  #social {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px;
    justify-items: center; 
    align-items: center; 
    width: 300px; 
    margin: 0 auto; 
    padding: 100px;
  }
  #linkedin-box{
    grid-column: 1/10;
    grid-row: 1/2;
    width: 300px;
    margin-bottom: 100px;
  }

  #email-box{
    grid-column: 1/10;
    grid-row: 2/2;
    width: 300px;
  }
  
  
  .linkedin-title, .email-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #linkedin-contact-img, #email-contact-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #linkedin-contact-img:hover, #email-contact-img:hover {
    transform: scale(1.05);
  }
  




  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .html-card, .css-card, .git-card, .github-card, .figma-card, .github-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }    
    footer {
        margin-top: 25px;
    }
}